.cartlist-background-page{
	
	.scroll-content{
		padding: 15px;
	}
	
	.button-md-secondary {
    	width: 100%!important;
	}
	#map {
        width: 100%;
        height: 100%;
    }
    .map-content{
    	height:400px;
    }
} 